.logo {
    height: 50px;
  }
  header {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  nav {
    display: flex;
    justify-content: space-around;
    font-size: large;
    align-items: center;
    font-family: "Oswald", sans-serif;
  }
  a {
    text-decoration: none;
    color: white;
  }
  body {
    background-color: #0d2646;
    font-family: 'Oswald', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .button a {
    border: solid 1px;
    border-radius:4px ;
    display: inline-block;
    padding: 10px; 
  }
  a:hover {
    background-color: white;
    color: black;
  }